<div class="container">
	<div class="row">
		<div class="col-sm-12 text-center" id="top-bar">
			<img src="/assets/images/burger.png" alt="burger" />
			<h1> Eat-Da-Burger! </h1>
		</div>
		<div class="col-sm-6 text-center" class="task">
			
				{{#each burgers}}
				{{#unless this.devoured}}
				<div class="row">
				<div class="col-sm-9 text-center card bg-light my-auto">
					<p class="my-2">{{this.id}}. {{this.name}}
					</p>
					<!-- {{this.Date}} -->
				</div>
				<div class="col-sm-3 text-center">
					<form class="button-size devour-form">
						<input input type="hidden" class="burger_id" type="text" value={{this.id}}><br>
						<button type="submit" class="btn btn-light">Devour it!</button>
					</form>
				</div>
				</div>
				{{/unless}}
				{{/each}}
			
		</div>
		<div class="col-sm-6 text-center my-auto" class="task">
			{{#each burgers}}
			{{#if this.devoured}}
			<form class="input-group mb-3 delete-form">
				<input type="text" class="form-control burger_id" placeholder="{{this.id}} . {{this.name}}" data-val={{this.id}} readonly>
				<div class="input-group-append">
					<button class="btn btn-light" type="submit">Delete</button>
				</div>
			</form>

			
			{{/if}}
			{{/each}}
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-12 text-center enter_section">
			<form action="/api/burgers" method="POST">
				<input type="text" class="form-control" name="name" value="" id="enter_text">
				<button type="submit" class="btn btn-primary" id="text-enter-button">Submit</button>
			</form>
			<p>Enter a burger you want to eat Click the "Submit" button.</p>
		</div>
	</div>
</div>